/* aside {
  width: 280px;
  background: #000;
  border-right: 1px solid rgba(128, 237, 153, 0.4);
  display: flex;
}

.Links {
  margin: auto;
}

aside li {
  list-style: none;
  padding: 18px 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

aside li:hover,
.activeLink {
  color: #80ed99;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  aside {
    position: fixed;
    left: -280px;
    transition: 0.3s;
    z-index: 999;
  }
  aside.active {
    left: 0;
  }
  .menu-toggle {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1.8rem;
    color: white;
    z-index: 1000;
  }
} */

aside {
  width: 280px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.1rem;
  background-color: #000000;
  backdrop-filter: blur(20px);
  border-right: 1px solid #80ed9970;
}

.Links {
  display: flex;
  flex-direction: column;
  margin: auto;
}

aside li {
  list-style-type: none;
  display: flex;
  padding: 20px;
  gap: 10px;
  color: white;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
}

aside li:hover {
  color: #80ed99;
}

aside li::after {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 1px;
  background: linear-gradient(to left, transparent, #ffffff24, transparent);
  content: "";
  bottom: 0px;
}

aside li i {
  font-size: 1.3rem;
}
